body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #2DA63F;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
  }

  .intro-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo {
    max-width: 10%;
    height: auto;
  }
  
  .intro-text {
    background-color: #2DA63F;
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
  }
  
  form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #2DA63F;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #2DA63F;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #2DA63F;
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #1e7c2d;
  }
  